---
import SiteLayout from '../../layouts/SiteLayout.astro';
import MembersList from '../../components/members/MemberList.astro';
import Presidency from '../../components/members/Presidency.astro';
---

<link type="text/css" href="styles/mainstyles.css" rel="stylesheet" />
<SiteLayout title="WDD Society Members">
  <main>
    <div class="mt-sm">
      <Presidency />
    </div>
    <MembersList />
  </main>
</SiteLayout>
