---
import PhotoGallery from '../components/gallery/PhotoGallery.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout>
  <main>
    <section id="gallery">
      <h1>Gallery</h1>
      <PhotoGallery />
    </section>
  </main>
</SiteLayout>

<style>
  #gallery h1 {
    margin: 1em;
    text-align: center;
    color: #006eb6;
  }
</style>
