---
import ProjectCard from '../components/projects/ProjectCard.astro';
import SiteLayout from '../layouts/SiteLayout.astro';

const baseUrl = import.meta.env.BASE_URL;

const currentProjects = [
  {
    title: 'Run the Undergrad',
    urls: ['https://runtheundergrad.org'],
    timeframe: 'September 2025 - Ongoing',
    desc: '(describe the running project here)',
    img: 'undergrad-site.jpeg',
    alt: "A screenshot of Undergrad's home page",
    contributers: [],
  },
  {
    title: 'Society Site',
    urls: ['https://web-design-development-society.github.io/webdevsociety/'],
    timeframe: 'September 2024 - Ongoing',
    desc: 'We will finish the society page, and add projects and members as semesters go on. (We need to update this)',
    img: 'society-site.jpeg',
    alt: "A screenshot of the Web Society's Site",
    contributers: [],
  },
];

const previousProjects = [
  {
    title: "Brother Shoaf's Site",
    urls: ['https://amhart02.github.io/musicportfolio/'],
    timeframe: 'September 2024 - April 2025',
    desc: 'Brother Shoaf is a music professor who we helped build a site for, showing off his projects, gallery, and other things',
    img: 'musicportfolio.png',
    alt: "Brother Shoaf's music portfolio",
    contributers: ['Alayna Hart', 'Ricky Vang'],
  },
  {
    title: 'Halloween Websites',
    urls: [
      'https://alexanderdombroski.github.io/halloween/',
      'https://gagedorl.github.io/halloweensite/index.html',
    ],
    timeframe: 'October 2024',
    desc: 'Halloween Sites were created in preparation for halloween and to show to the high schoolers in Rexburg',
    img: 'halloween-homepage.jpeg',
    alt: 'showing off halloween sites in high school',
    contributers: ['Alex Dombroski', 'Ellie Talbot', 'Amitai Finlayson'],
  },
];
---

<SiteLayout title="Projects">
  <main>
    <div id="hero-img">
      <h1 id="motto">Projects</h1>
      <img
        src={`${baseUrl}/images/projects/hero.jpeg`}
        class="hero-image"
        id="cool-picture"
        alt="people working on a project"
      />
    </div>

    <div id="projects-container" class="centered">
      <section>
        <h2>Current Projects</h2>
        {currentProjects.map((project) => <ProjectCard project={project} />)}
      </section>
      <section>
        <h2>Past Projects</h2>
        {previousProjects.map((project) => <ProjectCard project={project} />)}
      </section>
    </div>
  </main>
</SiteLayout>

<style>
  .hero-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }

  .centered {
    max-width: 50rem;
    margin: 0 auto;
    padding: inherit 1rem;
  }

  #projects-container {
    padding: 0 30px;
  }

  #projects-container h2 {
    font-size: 2.5rem;
    margin-top: 50px;
    text-align: center;
  }

  @media screen and (min-width: 1260px) {
    #projects-container {
      max-width: 1130px;
    }
  }
</style>
