---
const year = new Date().getFullYear();
---

<footer>
  <h1>WDD Society</h1>
  <p>&copy; {year} WebDev Society</p>
  <h3>Meeting Info</h3>
  <p>STC Building Room 231 @ 5:30-6:30pm</p>
</footer>

<style>
  footer {
    text-align: center;
    background: #006eb6;
    padding: 30px;
    color: white;
    margin-top: auto;
  }
</style>
