---
import Github from './Github.astro';

const { member, active = false } = Astro.props;
---

<li class="member-card w-full" data-member-active={active ? 'true' : 'false'}>
  <img src={member.avatar_url} alt={member.login} class="avatar" />
  <div class="w-full min-w-0 text-left ml-1">
    <div class="font-bold text-lg">
      {member.name || <span class="text-disabled">(Not Provided)</span>}
    </div>
    <div class="flex items-center gap-2 w-full">
      <Github />
      <a href={member.html_url} class="truncate flex-1 min-w-0 block">
        {member.login}
      </a>
    </div>

    {
      member.last_event_at && (
        <div>
          Last Activity: {new Date(member.last_event_at).toLocaleDateString()}
        </div>
      )
    }
  </div>
</li>
