---
const { name, title, avatar } = Astro.props;
---

<div class="officer">
  <img class="officer-avatar" src={avatar} alt={name} />
  <div class="officer-title">{title}</div>
  <div>{name}</div>
</div>

<style>
  .officer-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
  }

  .officer-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .officer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
</style>
