---
import members from '../../../members.json';
import Officer from './Officer.astro';
---

<h1 class="mx-4 text-center">Presidency</h1>
<div id="presidency">
  <div class="row">
    <Officer
      name="Alex Dombroski"
      title="President"
      avatar="https://avatars.githubusercontent.com/u/145472045?v=4"
    />

    <Officer
      name="Daniel Checketts"
      title="Vice President"
      avatar="https://avatars.githubusercontent.com/u/46506971?v=4"
    />
  </div>
  <div class="row mt-4">
    <Officer
      name="Joshua Walker"
      title="Officer"
      avatar="https://avatars.githubusercontent.com/u/235607494?v=4"
    />

    <Officer
      name="Samuel Pereira"
      title="Officer"
      avatar="https://avatars.githubusercontent.com/u/75548737?v=4"
    />

    <Officer
      name="Kian LaMer"
      title="Officer"
      avatar="https://avatars.githubusercontent.com/u/145629950?v=4"
    />
  </div>
</div>

<style>
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #presidency-grid {
    border: 1px solid var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-left: 20px;
    padding: 4px;
    width: max-content;
  }
  .small {
    height: 30px;
    width: 30px;
  }
  .name-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
  }

  .presidency {
    background-color: var(--accent-color);
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }

  .avatar {
    height: 80px;
    width: 80px;
    border-radius: 1rem;
  }

  @media screen and (min-width: 720px) {
    #tablet\:presidency {
      display: block;
      background-color: var(--secondary-color);
      border-radius: 15px;
      padding: 1rem;
      width: 80%;
      margin-left: 20px;
    }
    #presidency-grid {
      display: none;
    }
  }
</style>
